node_modules/
.git/
build/
dist/
.svelte-kit/
.output/
.vercel/
.vscode/
ssl/

LICENSE
README.md
Dockerfile
docker-compose.yml
.npmrc
.prettier*
.gitignore
.env.*
.env

.DS_Store
Thumbs.db

*.crt
*.key
*.pem

setup-self-signed.sh