# Node.js dependencies
node_modules/

# Git metadata
.git/

# Build output folders
build/
dist/
.svelte-kit/
.output/
.vercel/

# IDE/editor configs
.vscode/
.idea/

# Project metadata and config files not needed in build
LICENSE
README.md
Dockerfile
docker-compose.yml
.npmrc
.prettier*
.gitignore

# Environment files (to avoid leaking secrets)
.env
.env.*

# Operating system files
.DS_Store
Thumbs.db
